<h1>Stupid coaching</h1>
<div class="card">
  <p> You: <%= @question %> </p>
</div>
<div class="card">
  <p> Coach: <%= @answer %> </p>
</div>

<div class="myButton">
  <%= link_to "Ask a new question", ask_path %>
</div>

